body {
    background-color:aquamarine;
}

a:link {
    color:blue
}

a:visited {
    color:green
}

pre {
    font-size:18px;
}

.skills {
    background-color:black;
    color:white;
    text-align:center;
}

aside {
    background-color:cornflowerblue;
    display:block;
    float:left;
    height:800px;
    padding:10px;
    
}

button {
    font-size:25px;
}

table, tr, td {
    border:1px solid black;
    border-collapse:collapse;
    text-align:center;
    padding:5px 179px;
    border-spacing:10px;
    background-color:teal;
}
p {
    font-size:30px;
    background-color:goldenrod;
}

head1 {
    font-size:75px;
    font-family:courier;
    text-align:center;
}

head2 {
    background-color:black;
    color:white;
    text-align:center;
    border:100px;
    font-size:30px;
    padding:0px 575px;
}