body {
    background-color:aquamarine;
}

a:link {
    color:blue
}

a:visited {
    color:green
}

pre {
    font-size:18px;
}

.skills {
    background-color:black;
    color:white;
    text-align:center;
}

aside {
    background-color:cornflowerblue;
    display:block;
    float:left;
    height:800px;
    padding:10px;
    
}

button {
    font-size:25px;
}